body{
    padding: 0px auto;
    margin: 0px auto;
}

section .col{
    background:rgba(17, 16, 102, 0.72);
    color: white;
    padding: 2%;
    margin: 0 5%;
    box-shadow: 1px 2px 3px black;
}
section h1{
    padding: 0px auto;
    text-align: center;
    margin:0 0 10% 0;
    background-color:rgb(102, 16, 16);
    color: white;
    padding: 20px;
}
h3{
    padding: 0px auto;
    text-align: center; 
}



section{
    width: 80% !important;
    margin: 0px auto;
    display: block;
    justify-content: center;
    text-align: center;
    padding: 5%;
    box-shadow: 1px 1px 2px;
    background-image:url(./img/abonne.jpg);
}
h2{
    margin: 2% 0 !important;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}

header{
    text-align: center !important;
    background-color:rgb(102, 16, 16);
    color: whitesmoke;
    padding: 1%;
}